body {
    padding: 0;
    margin: 0;
    
}

.airbnb-logo {
    width: 82px;
     padding: 30px;
    
}

.navbar-container {
     background: #FFFFFF;
     box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
     width: 550px;

}

.hero-container {
     padding: 30px;
     width: 550px;
     display:  flex;
     flex-direction: column;
}

.hero-container img {
    margin: auto;
    width: 70%;
}

.hero-container h1 {
    font-size: 36px;
    width: 347px;
    margin: 0;
    padding: 16px 0; 
}

.hero-container p {
    font-size: 16px;
    width: 320px;
    margin: 0;
    padding:  0; 
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    
}


.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 50px;
    padding: 30px;
     width: 550px;
}

.card-container p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    max-width: 176px;
}

.stats-container {
    display: flex;
    flex-direction: row;
}

.star {
    width: 14px;
    height: 14px;
}

.stats-container  p {
    margin: 0;
}

.card-image {
    height: 235px;
    width: 176px;
    border-radius: 9px;
}

.light-stats-color {
    color: #918E9B;
}

.dark-color {
    color: #222222;
}

.card-badge {
    display: absolute;
     position: absolute;
    top: 35px;
    left: 35px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}